<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EuropePMC Publications</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="bg-secondary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">EuropePMC</a>

            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="container pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark footer text-light text-center">
        <div class="container">
            &copy; 2020 -  Jan Kliszcz
        </div>
    </footer>

    
    <script type="text/javascript">
        $(document).ready(function () { $("main").hide().fadeIn(1000); });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
